.wrapper{
padding:0px 50px;
}

.section{
    background:lightgrey;
    padding: 20px 10px;
}

.nav{
    background:black;
    padding: 10px 0;
    color: white;
    font-weight:500;
    text-align: center;
    margin-bottom:30px;

}

.text-box{
    background:tomato;
    text-align: center;
    padding: 10px 5px;
    margin: 10px 0;
}

.text-blue{
    color:blue;
}

.text-green{
    color:green;
}
.text-yellow{
    color:yellow;
}