/* - The background color for the page is #c8deec
- The color for the text reading "Nutrition Information" is #887
- The font family for the h1, h3 and h4 is Courier New
- The font family for the h2 is Century Gothic
- The font family for all other elements is Helvetica Neue
- The font weight for the link is bold 
- Bonus: The border on the page and around the image is black */

body{
    background:#c8deec;
}


h2{
    font-family:'Century Gothic';
    
}

h1{
    font-family:'Courier New', Courier, monospace;
}

h3{
    font-family:'Courier New', Courier, monospace;
    color:#887;
    font-style: italic;
    
}

h2{
    font-family:'Courier New', Courier, monospace;
    
}

p{
    font-family:'Helvetica Neue'; 
}

a{
    font-weight:bold;
    text-decoration: none;
    color:black;
}

img{
    border:3px solid #000000;
}